{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
<h1>Main</h1>

{% for article in articles %}
<h2>{{ article.titre }} du {{ article.datePublication|date("d/m/Y") }} rédigé par {{ article.user.pseudo }}</h2>
<p>Catégorie : {{ article.categorie.nom }}</p>
<p>Nombre de vues : {{ article.nombreVues }}</p>
<p>{{ article.contenu }}</p>

{% endfor %}

{% endblock %}